- provide :title, "Cargos"

- unless notice.nil?
  .alert.alert-success
    #notice= notice

.page-content-inner
  .row
    .col-xs-12
      .portlet.light.portlet-fit
        -# .portlet-title
          = #link_to "CREATE NEW", new_document_path, class: "btn green"
        .portlet-title
          = form_for :cargos, url: { action: :index }, method: :get do |f|
            .row
              .col-sm-2
                .form-group
                  %label CWB
                  = text_field_tag :cwb, @f_cwb, class: "form-control"
              .col-sm-3
                .form-group
                  %label Client
                  = select_tag :client_id, options_for_select(Client.all.map { |c| [c.name, c.id]}), include_blank: 'ALL', class: "form-control"
              .col-sm-2
                .form-group
                  %label Status
                  = select_tag(:status2, options_for_select([["ALL", ""],["FOR DELIVERY", 1], ["IN TRANSIT", 2], ["RELEASED", 3]], @f_status2), {class: "form-control"})
              .col-sm-2{ style: "padding-top: 20px" }
                =  f.submit "FILTER", class: "btn btn-block green"
        .portlet-body
          = smart_listing_controls_for(:cargos, {class: "form-inline text-right"}) do
            .checkbox
            .form-group.filter.input-append
              = text_field_tag :filter, '', class: "search form-control", 
                                        placeholder: "Search", autocomplete: :off
          = smart_listing_render :cargos

:javascript
  $(document).ready(function(){
    $('#client_id').select2({ theme: 'bootstrap' })
  })
