- provide :title, "Deliveries"

- unless notice.nil?
  .alert.alert-success
    #notice= notice

.page-content-inner
  .row
    .col-xs-12
      .portlet.light.portlet-fit
        .portlet-title
          = form_for :deliveries, url: { action: :master_index }, method: :get do |f|
            .row
              .col-sm-3
                .form-group
                  %label Date Range
                  = text_field_tag :daterange, @f_daterange, class: "form-control"
              .col-sm-3
                .form-group
                  %label Source
                  = select_tag :source, options_for_select(@select_source.map { |l| [l[:name], l[:id]]}, @f_source), include_blank: 'ALL', class: "form-control"
              .col-sm-3
                .form-group
                  %label Destination
                  = select_tag :destination, options_for_select(@select_source.map { |l| [l[:name], l[:id]]}, @f_destination), include_blank: 'ALL', class: "form-control"
              .col-sm-2{ style: "padding-top: 20px" }
                .btn-group
                  =  f.submit "FILTER", class: "btn green"
                  =  f.submit "RESET", class: "btn"
        .portlet-body
          = smart_listing_render :master_deliveries
:javascript
  $(document).ready(function(){
    $('#daterange').daterangepicker()
  })
