- provide :title, "Deliveries"

- unless notice.nil?
  .alert.alert-success
    #notice= notice

.page-content-inner
  .row
    .col-xs-12
      .portlet.light.portlet-fit
        .portlet-title
          = smart_listing_controls_for(:master_deliveries) do
            .row
              .col-sm-3
                .form-group
                  %label Date Range
                  = text_field_tag :daterange, @f_daterange, class: "form-control"
              .col-sm-3
                .form-group
                  %label Source
                  = select_tag :source, options_for_select(@select_location.map { |l| [l[:name]]}, @f_source), include_blank: 'ALL', class: "form-control"
              .col-sm-3
                .form-group
                  %label Destination
                  = select_tag :destination, options_for_select(@select_location.map { |l| [l[:name]]}, @f_destination), include_blank: 'ALL', class: "form-control"
              .col-sm-2{ style: "padding-top: 20px" }
                .btn-group
                  %button.btn#reset RESET
        .portlet-body
          = smart_listing_render :master_deliveries
:javascript
  $(document).ready(function(){
    $('#daterange').daterangepicker()
    $('#reset').click(_ => window.location.replace('/master_deliveries'))
  })
