- provide :title, "Cargo Transaction Report"

%section.dr-sheet.dr-padding-10mm
  / Write HTML just like a web page
  %article.dr-title Ocean Coast Shipping Corporation
  %h3.dr-subtitle San Roque, San Andress, Catanduanes - Telephone: ( 052 ) 811-3079, Telefax: 726-6031
  %h3.dr 151 Aurora Blvd, cor, G. Reyes, Brgy. Salapan, San Juan City - Telephone ( 02 ) 722-6449, Telefax: 726-6031
  %table.dr-headertable
    %tr
      %td
      %td
        %h4{:style => "text-align: center;"} Cargo Transaction Report
      %td
    %tr
      %td{:colspan => "3"}
        %h4
          Transaction Date: #{DateTime.parse(@date).strftime("%B %d, %Y")}
  %table.dr-datatable
    %thead
      %tr
        %td
          %h4 Cargo Waybill#
        %td
          %h4
            Tag Number
            %br>/
            From - To
        %td
          %h4 QTY
        %td
          %h4 Cash
        %td
          %h4 Collect
        %td
          %h4 Total
        %td
          %h4 For Remittance
    %tbody
      - for i in 0...@report.length
        %tr.danger
          %td
            %h4
              = @report[i][:cwb]
              %h4
          %td
            %h4
              = @report[i][:deleted] ? "Void / Cancelled" : @report[i][:tags]
              %h4
          %td
            %h4.pull-right
              = number_with_delimiter @report[i][:qty], delimiter: "," if !@report[i][:deleted]
              %h4
          %td
            %h4.pull-right
              = number_with_precision @report[i][:cash], precision:2, delimiter: "," if !@report[i][:deleted]
              %h4
          %td
            %h4.pull-right
              = number_with_precision @report[i][:collect], precision:2, delimiter: "," if !@report[i][:deleted]
              %h4
          %td
            %h4.pull-right
              = number_with_precision @report[i][:total], precision:2, delimiter: "," if !@report[i][:deleted]
              %h4
          %td
            %h4.pull-right
              = number_with_precision @report[i][:remittance], precision:2, delimiter: "," if !@report[i][:deleted]
              %h4
        - @report_totals[:qty] += @report[i][:qty]
        - @report_totals[:cash] += @report[i][:cash]
        - @report_totals[:collect] += @report[i][:collect]
        - @report_totals[:total] += @report[i][:total]
    %tfoot
      %tr
        %td{:colspan => "2", :style => "padding: 10px"}
          %h4{:style => "font-weight: 600"} Total
        %td
          %h4.pull-right{:style => "font-weight: 600"}= number_with_delimiter @report_totals[:qty], delimiter:','
        %td
          %h4.pull-right{:style => "font-weight: 600"}= number_with_delimiter sprintf '%.2f',  @report_totals[:cash], delimiter:','
        %td
          %h4.pull-right{:style => "font-weight: 600"}= number_with_delimiter sprintf '%.2f',  @report_totals[:collect], delimiter:','
        %td
          %h4.pull-right{:style => "font-weight: 600"}= number_with_delimiter sprintf '%.2f',  @report_totals[:total], delimiter:','
        %td
          %h4.pull-right{:style => "font-weight: 600"}= number_with_delimiter sprintf '%.2f', @report_totals[:cash], delimiter:','
  %table.dr-footertable
    %h3.dr{:style => "margin-bottom: 0; text-align: center;"} =========================================================================================
    %h3.dr{:style => "margin: 0;"} End of Report
    %h3.dr{:style => "margin: 0; text-align: center;"} =========================================================================================
    / Footer For Signaure
    %tr
      %td
        %h4{:style => "text-align: left; margin-bottom: 30px"} Prepared by:
      %td
      %td
    %tr
      %td{:style => "border-top:solid 1px;"}
        %h4{:style => "text-align: center; margin-top: 0px; font-weight: 100"} (signature over printed name)
      %td
      %td

:javascript
  window.print()
